html
    head
        meta(charset="utf-8")
        title Библиотека
        link(rel="shortcut icon", href="/public/images/book.png", type="image/x-icon")
        link(rel="stylesheet", type="text/css", href="/public/stylesheets/w3.css")

    body(class="w3-light-grey")
        include header.pug

        h2(class="w3-bold w3-display-middle") 404. Страница не найдена.